{#
/**
 * @file data.html.twig
 * Default theme implementation to present Data data.
 *
 * This template is used when viewing Data pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_data()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('data') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
